@import url("https://use.typekit.net/nsc5rlo.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #010057;
  --secondary: #0300ae;

  --primary-accent: #0300ae;
  --foreground-accent: #454545;
  --hero-background: #f3f3f5;
  --font-berthold: "berthold-block-w1g", sans-serif;
}

html {
  @apply scroll-smooth;
}

body {
  @apply text-lg;

  color: var(--foreground);
  background: var(--background);
  font-optical-sizing: auto;
  font-style: normal;
  font-family: "berthold-block-w1g", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "berthold-block-w1g", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.04em;
}

#logos svg {
  @apply w-fit h-10 sm:h-12;
}

.benefit-section:last-of-type > div {
  @apply mb-10;
}
